body {
    background-color: #ffffff;
    color: #7a221a;
    width: 700px;
    margin-right: auto;
    margin-left : auto;
}
button {
    padding: 5px 20px;
    background-color: #000000;
    color: #FFFFFF;
    border-color: #662810;
    border-style: none;
}
input {
    height: 20px;
}
